@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

*{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

/* Botonera */
.botonera{
	display: flex;
	flex-direction: column;
	padding: 5px 2px;
}

/* Logo */
.botonera a img{
	width: 30%;
}
.botonera a{
	display: flex;
	justify-content: center;
}

/* Menu */
.botonera ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.botonera ul li{
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	padding: 7px;
	font-size: 1.2rem;
}
.botonera ul li a{
	text-decoration: none;
	color: black;
}

/* Foto principal */
header img{
	margin: 0;
	display: block;
	width: 100%;
}

.articulos{
	padding: 15px;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	text-align: right;
	line-height: 1.7rem;
	margin-left: 1.5rem;
	margin-bottom: 2rem;
}

/* Título articulos */
.titulo{
	line-height: 5rem;
	text-transform: uppercase;
}

/* Zona video */
.video{
	display: flex;
	justify-content: center;
	align-content: center;
}

/* Footer */
.pie{
	background-color: black;
	text-transform: uppercase;
	font-size: 1rem;
	text-decoration: none;
	color: white;
	display: flex;
	flex-direction: column;
}
.pie h3{
	display: flex;
	justify-content: center;
	font-size: 1rem;
	text-decoration: none;
	margin: 0.8rem;
}
.redes a{
	text-transform: uppercase;
	font-size: 1rem;
	text-decoration: none;
	color: white;
	margin-bottom: 0.8rem;
}
.redes{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/* HOME. Se define el contenedor como grid (aunque haya sólo una columna). La idea es hacer el ejercicio. */
.contenedor{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(6, auto);
	grid-template-areas:
	"nav"
	"header"
	"article"
	"zonaVideo"
	"apartado"
	"footer";
}

#menu{
	grid-area: nav;
}

#header{
	grid-area: header;
}

#article{
	grid-area: article;
}

#zonaVideo{
	grid-area: zonaVideo;
}

#apartado{
	grid-area: apartado;
}

#footer{
	grid-area: footer;
}


/* HOME. Arranca el responsive */
@media only screen and (min-width: 768px){

	/* Se arman las dos columnas en 5 filas */
	.contenedor{
	display: grid;
	grid-template-columns: 30% 30% 40%;
	grid-template-rows: repeat(5, auto);
	grid-template-areas:
	"nav nav nav"
	"header header header"
	". article article"
	"zonaVideo zonaVideo apartado"
	"footer footer footer";
}

/* Cambios en la nav */
.botonera{
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* Logo */
.botonera a{
	justify-content: flex-start;
}
.botonera a img{
	width: 70%;
	margin-left: 3rem;
}

/* Menú */
.botonera ul{
	margin: 2rem;
}
.botonera ul li{
	font-size: 2rem;
}
nav ul li a:hover {
	text-decoration: underline;
}

.articulos{
	padding: 15px;
	font-size: 2rem;
	text-align: right;
	line-height: 2.5rem;
	margin-left: 5rem;
}

.video iframe{
	width: 80%;
	margin-bottom: 3rem;
}

/* Footer */
.pie{
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.pie h3{
	margin: 1rem 0rem 1rem 5rem;
	font-size: 1.3rem;
}
.redes a{
	margin: 1rem 5rem 1rem 5rem;
	font-size: 1.3rem;
}
footer a p:hover{
	text-decoration: underline;

}

}

/* Página PROBLEMA */

.contenedorProblema{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
	"nav"
	"article"
	"fotoPrin"
	"footer";
}

#fotoPrin{
	grid-area: fotoPrin;
}

.fotoPrincipal img{
	width: 100%;
}

.pie{
	margin-top: 3rem;
}

/* Arranca el responsive de PROBLEMA */
@media only screen and (min-width: 768px){

	/* Se arman las dos columnas en 4 filas */
	.contenedorProblema{
	display: grid;
	grid-template-columns: 30% 30% 40%;
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
	"nav nav nav"
	". article article"
	"fotoPrin fotoPrin fotoPrin"
	"footer footer footer";
}
.pie{
	margin: 0rem 0rem 10rem 0rem;
}
}

/* Página SOLUCION */

.contenedorSolucion{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(6, auto);
	grid-template-areas:
	"nav"
	"article"
	"article2"
	"sally"
	"article3"
	"footer";
}

#article2{
	grid-area: article2;
}

#sally{
	grid-area: sally;
}

.fotoSally img{
	width: 100%;
}

#article3{
	grid-area: article3;
}

.pie{
	margin-top: 0rem;
}

/* Arranca el responsive de SOLUCION */
@media only screen and (min-width: 768px){

	/* Se arman 3 columnas y 6 filas */
	.contenedorSolucion{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: repeat(6, auto);
	grid-template-areas:
	"nav nav nav"
	". article article"
	". article2 article2"
	"sally . ."
	". article3 article3"
	"footer footer footer";
}
.fotoSally{
	width: 100%;
}
.pie{
	margin: 0rem 0rem 10rem 0rem;
}
}

/* Página PRICING */
.bloquePrecios{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.caja{
	display: flex;
	flex-direction: column;
	width: 70vw;
	margin-bottom: 5rem;
	height: 50vh;
	justify-content: center;
	border-radius: 10%;
}

#silver{
	background-color: silver;
}

#gold{
	background-color: gold;
}

#platinum{
	background-color: black;
	color: white;
}

.caja h3{
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-size: 2.7rem;
}


.caja h3, .caja table{
	padding: 1.3rem;
}

.caja table tr{
	display: flex;
	height: 5rem;
	font-size: 2.4rem;
	width: 100%;
}

.ancho{
	display: flex;
	width: 70%;
}

.respuesta{
	text-align: center;
	width: 30%;
}

/* Arranca el responsive de PRICING */
@media only screen and (min-width: 768px){

.bloquePrecios{
	flex-direction: row;
}
	
.caja{
	margin: 3rem;
}

}

/* Página CONTACTO */

.tituloConectate{
	margin-bottom: 3rem;
	margin-top: 3rem;
	text-align: center;
	text-transform: uppercase;
}

.contenedorContacto{
	background-color: black;
	color: white;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(8, auto);
	grid-template-areas:
	"nav"
	"arriba"
	"data"
	"servicios"
	"sist"
	"recibirInfo"
	"buttoms"
	"footer";
}

.radio_buttoms{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.radio_buttoms input{
	margin-right: 2rem;
	margin-left: 1rem;
}

.contenedorContacto .botonera{
	background-color: white;
	color: black;
}

.contenedorContacto .pie{
	background-color: white;
	color: black;
}

.contenedorContacto .pie a{
	background-color: white;
	color: black;
}

#arriba{
	grid-area: arriba;
	background-color: black;
	color: white;
}

#data{
	grid-area: data;
}

#servicios{
	grid-area: servicios;
}

#sist{
	grid-area: sist;
}

#recibirInfo{
	grid-area: recibirInfo;
}

#buttoms{
	grid-area: buttoms;
}

.datos{
	margin-left: 3rem;
	margin: 1rem 3rem 1rem 3rem;
	font-size: 1.5rem;
}

.datos h2{
	margin-bottom: 1.5rem;
}

.botones{
	text-align: center;
	padding: 2rem;
}

.botones input{
	padding: 1rem 2rem 1rem 2rem;
}

.ingreso_datos{
	display: flex;
	justify-content: space-between;
	margin-right: 10rem;
}

/* Arranca el responsive de CONTACTO */
@media only screen and (min-width: 768px){

	.contenedorContacto{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(6, auto);
	grid-template-areas:
	"nav nav"
	"arriba arriba"
	"data servicios"
	"sist recibirInfo"
	"buttoms buttoms"
	"footer footer";
}

.pie{
	margin-bottom: 0rem;
}

}
