.tituloConectate{
	@extend .title;
	padding: 3rem;
	font-size: map-get($map: $sizes, $key: 'xl');
}

.radio_buttoms{
	@include flex(flex-start);
	flex-direction: row;
}

.radio_buttoms input{
	margin-right: 2rem;
	margin-left: 1rem;
}

.contenedorContacto .pie{
	background-color: white;
	color: black;
	margin-bottom: 0;
	margin-top: 0;
	
	a{
	background-color: white;
	color: black;
	}
}

#arriba{
	@include fondoNegro();
}

#block{
	@include fondoNegro();
}

#anchoForm{
	font-size: map-get($map: $sizes, $key: 'l');
}

#anchoFormulario{
	font-size: map-get($map: $sizes, $key: 'l');
}

.titulo2{
	font-size: map-get($map: $sizes, $key: 'lx');
}

.inputForm{
	font-size: map-get($map: $sizes, $key: 'lx');
}

.place{
	font-size: map-get($map: $sizes, $key: 'l');
}

.ubicacionBoton{
	@include flex(center);
	align-content: center;
}

#botones{
	text-align: center;
	padding: 1rem 4rem 1rem 4rem;
	font-size: map-get($map: $sizes, $key: 'l');
}

.ingreso_datos{
	@include flex(space-between);
	margin-right: 10rem;
}

/* Arranca el responsive de CONTACTO */
@media only screen and (min-width: 580px){

	#botones:hover{
	transform: scale(1.1);
	background-color: black;
	color: white;
	text-transform: uppercase;
}

#anchoForm{
	font-size: map-get($map: $sizes, $key: 'lm');
}

#anchoFormulario{
	font-size: map-get($map: $sizes, $key: 'lm');
}

.titulo2{
	font-size: map-get($map: $sizes, $key: 'l');
}

.inputForm{
	font-size: map-get($map: $sizes, $key: 'l');
}

.place{
	font-size: map-get($map: $sizes, $key: 'lm');
}

#botones{
	font-size: map-get($map: $sizes, $key: 'lm');
}

}

@media only screen and (min-width: 900px){

	#anchoForm{
		width: 60%;
	}
	
	#anchoFormulario{
		width: 60%;
	}

	.ubicacionBoton{
		justify-content: flex-start;
}
}

@media only screen and (min-width:1200px){
	#anchoForm{
		font-size: map-get($map: $sizes, $key: 'l');
	}
	
	#anchoFormulario{
		font-size: map-get($map: $sizes, $key: 'l');
	}
	
	.titulo2{
		font-size: map-get($map: $sizes, $key: 'lx');
	}
	
	.inputForm{
		font-size: map-get($map: $sizes, $key: 'lx');
	}
	
	.place{
		font-size: map-get($map: $sizes, $key: 'l');
	}
	
	#botones{
		font-size: map-get($map: $sizes, $key: 'l');
	}
}

	@media only screen and (max-width: 340px){
.place{
	font-size: map-get($map: $sizes, $key: 'l');
}
}


