/* Logo */

@media only screen and (max-width: 420px){
.botonera div a{
	width: 40%;
	img{
		width: 100%;
	}
}
}

@media (min-width: 420px) and (max-width: 768px){
.botonera div a img{
	width: 50%;
}
}


/* Menu */
.botonera ul li{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	padding: 7px;
	font-size: 1.2rem;
	color: black;
}
#navbarNav ul li a{
	color: black;
}


@media only screen and (min-width: 768px){

/* Cambios en la nav */
.botonera{
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	a{
		justify-content: flex-start;
	}
}

.logo img{
	width: 70%;
	margin-left: 3rem;
}

/* Menú */
.botonera ul{
	margin: 2rem;
	
	li{
		font-size: 2rem;
	}
}

#navbarNav ul li a:hover{
	text-decoration: underline;
}
}